<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/open-iconic-master/font/css/open-iconic-bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=vietnamese">
    <link rel="stylesheet" href="../assets/fonts/fontawesome-free-5.15.4-web/css/all.min.css">

</head>

<body>
    <div class="app">
        <div class="header">
            {{> header}}
        </div>
        <div class="app_container">
            {{{body}}}
        </div>
        <div class="footer">
            {{> footer}}
        </div>

        <div class="modal-login">
            <div class="modal__overlay">
            </div>
            <div class="modal__body">

                {{!-- Auth form signup --}}

                <form class="auth-form auth-form-signup" method="POST" action="/signup">
                    <div class="auth-form__container">
                        <div class="auth-form__header">
                            <h3 class="auth-form__heading">Đăng ký</h3>
                            <span class="auth-form__switch-btn">
                                Đăng nhập
                            </span>
                        </div>

                        <div class="auth-form__form">
                            <div class="auth-from__group">
                                <input name="username" type="text" class="auth-form__input" placeholder="Nhập tài khoản">
                            </div>

                            <div class="auth-from__group">
                                <input name="password" type="password" class="auth-form__input" placeholder="Mật khẩu của bạn">
                            </div>

                            <div class="auth-from__group">
                                <input name="password-validate" type="password" class="auth-form__input" placeholder="Nhập lại mật khẩu">
                            </div>

                            <div class="auth-from__group">
                                <input name="nameWeb" type="text" class="auth-form__input" placeholder="Nhập tên của bạn">
                            </div>
                            <h3 class="auth-form__input-password-validate"></h3>
                        </div>

                        <div class="auth-form__aside">
                            <p class="auth-form__policy-text">
                                Bằng việc đăng kí, bạn đã đồng ý với AnhThuShop về
                                <a href="" class="auth-form__text-link">Điểu khoản dịch vụ</a> 
                                <a href="" class="auth-form__text-link">Chính sách bảo mật</a>
                            </p>
                        </div>

                        <div class="auth-form__controls">
                            <button class="btn auth-form__controls-back btn-normal">TRỞ LẠI</button>
                            <button type="submit" class="btn btn--primary">ĐĂNG KÝ</button>
                        </div>
                    </div>
                    

                    <div class="auth-form__socials">
                        <a href="" class="auth-form__social-icon--facebook btn btn--size-s btn--with-icon ">
                            <i class="auth-form__social-icon fab fa-facebook-square"></i>
                            <span class="auth-form__socials-title">
                                Kết nối với Facebook
                            </span>
                        </a>
                        <a href="" class="auth-form__social-icon--google btn btn--size-s btn--with-icon">
                            <i class="auth-form__social-icon fab fa-google"></i>
                            <span class="auth-form__socials-title">
                                Kết nối với Google
                            </span>
                        </a>
                    </div>
                </form> 
                

                {{!-- Auth form login --}}
                
                <form class="auth-form auth-form-login" method="POST" action="/login">
                    <div class="auth-form__container">
                        <div class="auth-form__header">
                            <h3 class="auth-form__heading">Đăng nhập</h3>
                            <span class="auth-form__switch-btn">
                                Đăng ký
                            </span>
                        </div>

                        <div class="auth-form__form">
                            <div class="auth-from__group">
                                <input type="text" class="auth-form__input" name="username" placeholder="Nhập tải khoản của bạn">
                            </div>

                            <div class="auth-from__group">
                                <input type="password" class="auth-form__input" name="password" placeholder="Mật khẩu của bạn">
                            </div>
                            <span class="warningInvalid"></span>
                        </div>

                        <div class="auth-form__aside">
                            <div class="auth-form__help">
                                <a href="" class="auth-form__help-link auth-form__help-forgot">Quên mật khẩu</a>
                                <span class="auth-form__help-seperate"></span>
                                <a href="" class="auth-form__help-link ">Cần trợ giúp?</a>
                            </div>
                        </div>

                        <div class="auth-form__controls">
                            <button class="btn auth-form__controls-back btn-normal">TRỞ LẠI</button>
                            <button type="submit" class="btn btn--primary">ĐĂNG NHẬP</button>
                        </div>
                    </div>
                    

                    <div class="auth-form__socials">
                        <a href="" class="auth-form__social-icon--facebook btn btn--size-s btn--with-icon ">
                            <i class="auth-form__social-icon fab fa-facebook-square"></i>
                            <span class="auth-form__socials-title">
                                Kết nối với Facebook
                            </span>
                        </a>
                        <a href="" class="auth-form__social-icon--google btn btn--size-s btn--with-icon">
                            <i class="auth-form__social-icon fab fa-google"></i>
                            <span class="auth-form__socials-title">
                                Kết nối với Google
                            </span>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
</body>
</html>
<script>
    
    document.addEventListener("DOMContentLoaded", function() {
        const loginBtn = document.querySelector('.header__navbar-item-login');
        const signupBtn = document.querySelector('.header__navbar-item-signup');
        const modalField = document.querySelector('.modal-login');
        const authformFields = document.querySelectorAll('.auth-form')
        const authFormLogin = document.querySelector('.auth-form-login');
        const authFormSignup = document.querySelector('.auth-form-signup');
        const backBtnInForms = document.querySelectorAll('.auth-form__controls-back');
        const usernameSignup = authFormSignup.querySelector('input[name="username"]');
        const passWordSignup = authFormSignup.querySelector('input[name="password"]');
        const passWordSignupValidate = authFormSignup.querySelector('input[name="password-validate"]');
        const validateTextSignup = authFormSignup.querySelector('.auth-form__input-password-validate');
        const nameWebSignup = authFormSignup.querySelector('input[name="nameWeb"]');
        const switchBtnLogin = authFormLogin.querySelector('.auth-form__switch-btn');
        const switchBtnSignup = authFormSignup.querySelector('.auth-form__switch-btn');
        const authFormInputUsername = authFormLogin.querySelector('.auth-form__input[name="username"]');
        const authFormInputPassword = authFormLogin.querySelector('.auth-form__input[name="password"]');
        const warningInvalidLogin = authFormLogin.querySelector('.warningInvalid');
        console.log(warningInvalidLogin);
        /*Handle click đăng nhập đăng ký trong form*/
        switchBtnLogin.onclick = function() {
            authFormLogin.classList.remove("openForm");
            authFormSignup.classList.add('openForm');
        }

        passWordSignup.oninput = function() {
            validateTextSignup.innerText = '';
        }

        usernameSignup.oninput = function() {
            validateTextSignup.innerText = '';
        }

        authFormInputUsername.oninput = function() {
            warningInvalidLogin.innerText = '';
        }

        authFormInputPassword.oninput = function() {
            warningInvalidLogin.innerText = '';
        }

        
        switchBtnSignup.onclick = function() {
            authFormSignup.classList.remove('openForm');
            authFormLogin.classList.add("openForm");
        }

        /*Handle click Đăng nhập, Đăng ký*/
        if (loginBtn) {
            loginBtn.addEventListener('click', function() {
                modalField.classList.add('open');
                authFormLogin.classList.add('openForm');
            });
        }
        if (signupBtn) {
            signupBtn.addEventListener('click', function() {
                modalField.classList.add('open');
                authFormSignup.classList.add('openForm');
            });
        }

        modalField.addEventListener('click', function() {
            modalField.classList.remove('open');
            authFormLogin.classList.remove('openForm');
            authFormSignup.classList.remove('openForm');
        });

        Array.from(authformFields).forEach(function(authformField) {
            authformField.addEventListener('click', function(e) {
                e.stopPropagation();
            })
        })

        Array.from(backBtnInForms).forEach(function(backBtnInForm) {
            backBtnInForm.onclick = function() {
                modalField.classList.remove('open');
                authFormLogin.classList.remove('openForm');
                authFormSignup.classList.remove('openForm');
            }
        })
        /*Handle đăng ký*/
        passWordSignupValidate.oninput = function(e) {
                validateTextSignup.innerText = '';
        }
        authFormSignup.onsubmit = function(e) {
            let isValid = true;
            e.preventDefault();
            if (passWordSignupValidate.value !== passWordSignup.value) {
                    validateTextSignup.innerText = "Nhập sai mật khẩu!";
                    isValid = false;
            }
            if (
                usernameSignup.value &&
                passWordSignupValidate.value === passWordSignup.value &&
                nameWebSignup.value && passWordSignupValidate.value
            ) {
                const data = {
                    username: usernameSignup.value
                };
                fetch('http://localhost:3000/isSignupTrue',{
                    method: 'post',
                    body: JSON.stringify(data),
                    headers: new Headers({
                        'Content-Type': 'application/json'
                    })
                })
                .then(res => res.json())
                .then(isTrue => {
                    if (isTrue.isTrue) {
                        authFormSignup.submit();
                    }
                    else {
                        validateTextSignup.innerText = 'Tài khoản đã tồn tại!';
                    }
                });
            }
        }

        /*Handle đăng nhập*/

        authFormLogin.onsubmit = function(e) {
            e.preventDefault();
            const data = {
                username: authFormInputUsername.value,
                password: authFormInputPassword.value
            }
            fetch('http://localhost:3000/isLoginTrue',{
                method: 'post',
                body: JSON.stringify(data),
                headers: new Headers({
                    'Content-Type': 'application/json'
                })
            })
            .then(res => res.json())
            .then(isTrue => {
                if (isTrue.isTrue) {
                    authFormLogin.submit();
                }
                else {
                    warningInvalidLogin.innerText = 'Bạn nhập sai tài khoản hoặc mật khẩu!';
                }
            });
        }
    })
</script>