<form class="formSell" method="POST" action="/me/post_for_sale">
    <div class="form-group">
        <label class="myInfo__change-info-label" for="productName">Tên sản phẩm</label>
        <div>
        <input type="text" class="myInfo__change-info-input" name="productName">
        </div>
    <div class="form-group">
        <label class="myInfo__change-info-label">Chọn dòng sản phẩm</label>
        <div>
            <select class="post-product-productline" name="productline">
                <option >Dòng sản phẩm</option>
                <option value="Áo">Áo</option>
                <option value="Điện Thoại">Điện thoại</option>
                <option value="Đồng Hồ">Đồng hồ</option>
                <option value="Giầy, dép">Giầy, dép</option>
                <option value="Mũ">Mũ</option>
                <option value="Phụ Kiện">Phụ kiện</option>
                <option value="Quần">Quần</option>
                <option value="Túi Xách">Túi xách</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="myInfo__change-info-label" for="quantityInStock">Số lượng hiện có</label>
        <div>
        <input type="number" class="myInfo__change-info-input" name="quantityInStock">
        </div>
    </div>
    <div class="form-group">
        <label class="myInfo__change-info-label" for="buyPrice">Giá bán</label>
        <div>
        <input type="number" class="myInfo__change-info-input" name="buyPrice">

        </div>
    </div>
    <div class="form-group">
        <label class="myInfo__change-info-label" for="image">Ảnh</label>
        <div>
        <input type="text" class="myInfo__change-info-input" name="image">

        </div>
    </div>
    <div class="form-group">
        <label class="myInfo__change-info-label" for="origin">Xuất xứ</label>
        <div>
        <input type="text" class="myInfo__change-info-input" name="origin">

        </div>
    </div>
    <div class="form-group">
        <label class="myInfo__change-info-label" for="discount">Giảm giá</label>
        <div>
        <input type="text" class="myInfo__change-info-input" name="discount">

        </div>
    </div>
    <button type="submit" class="btn btn--primary">Đăng</button>
</form>
